@import url('../style/global.css');
/*  Para llamar un color solo se pone por ejemplo  background-color: var(--color-fondo);
  --color-titulo : #5FD3ED;
  --color-background: #252634;
  --color-details: #616489;
  --color-text: #FFFFFF;
  --color-text-2: #B9B7B7; 
*/

.trendingPreview-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hwb(0 18% 82% / 0.2);
  padding: 2%;
  border-radius: 40px;
  color: var(--color-titulo);
}

.trendingPreview-movieList p {
  color: #ffffff;
}

/* tvShow.css */
.trendingPreview-movieList {
  display: flex;
  overflow: hidden;
}

.movie-container {
  margin: 5px;
  background-color: #5a5a5a;
  text-align: center;
  flex: 0 0 auto;
  width: 200px; /* Ajusta este valor según tus necesidades */
  text-align: center;
  border-radius: 10px;

}

.movie-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.persson-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
/*   background-color: hwb(200 27% 72% / 0.2); */
  padding: 0;
  margin: 0;
  border-radius: 40px;
  color: var(--color-titulo);
}

.persson-img {
  width: 100%;
  height: 70%;
  margin: 0;
  border-radius: 50%;
}


#trendingTvPreview, #trendingPeoplePreview, #trendingPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
/*   background-color: hwb(180 2% 62%); */
  padding: 2%;
  border-radius: 40px;
  color: var(--color-titulo);
}


.trendingPreview-container {
  border: 1px #424247; /* Borde adaptable */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px;
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
  width: 100%;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
}

.trendingPreview-movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.movie-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-container:hover {
  cursor: pointer;
  background-color: #ee3939e5;
  color: #1A1A1A;
}
.buttonContNext {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nextPage, .previousPage {
  background-color: #ee3939e5;
  border-radius: 20px;
  color: rgb(242, 198, 198);
  height: 2em;
  width: 5em;
  font-size: 20px;
  cursor: pointer;
}
.nextPage:hover, .previousPage:hover {
  background-color: #ff0000e5;
  border-radius: 20px;
  color: rgb(242, 198, 198);
  height: 2em;
  width: 5em;
  font-size: 20px;
}